@model Indeavor.Client.Data.SkillResults

<div class="wrapper wrapper-content animated fadeIn">
    <div class="white-bg">
        <div class="row">
            <h3 class="col-lg-12">
                SKILLS
            </h3>
        </div>
    </div>
    <div class="ibox">
        <div class="row">
            <div class="col-sm-6 ">
                <h5><i class="fa fa-asterisk m-r-sm text-success"></i>Tools</h5>
            </div>
            <div class="col-sm-6 text-right">
                <a class="btn btn-primary actionButton" href="@Url.Action("SkillDetails", "Home")">Create Skill</a>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-content border-0">
            @if (Model.Skills.Count > 0)
            {
                <div class="row m-t-md">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover dataTable" id="table-invoices" role="grid" style="position: relative">
                                <thead>
                                    <tr role="row">
                                        <th class="text-center">name</th>
                                        <th class="text-center">CreationDate</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var odd = true;
                                    }
                                    @foreach (var item in Model.Skills)
                                    {
                                        <tr id="@item.SkillId" role="row" class="@(odd ? "odd" : "even")">
                                            @*<td class="text-center">@item.Name</td>*@
                                            <td>
                                                <div class="row text-center">
                                                    <div class="col-lg-8 m-t-xs" data-toggle="tooltip" data-original-title="@item.SkillId" data-placement="top">
                                                        @item.Name
                                                    </div>
                                                    <div class="col-4">
                                                        <a class="btn btn-light btn-circle d-inline-block" href="@Url.Action("SkillDetails", "Home", new { id = item.SkillId })" data-original-title="View details" data-toggle="tooltip" data-placement="top">
                                                            <i class="fa fa-info text-success"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center">@item.CreationDate</td>
                                            <td class="text-center">
                                                <a class="btnDeleteSkill" data-id="@item.SkillId">
                                                    <i class="fa fa-trash text-danger"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row m-t-md">
                    <div class="col-12">
                        No Records Found
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {

            $(".btnDeleteSkill").click(function (e) {
                e.preventDefault();
                var id = $(this).attr("data-id");
                showConfirmViewModal('Skill Delete', 'Are you sure?', 'btn-primary', function () {
                    var result = $("#txtCR").val();
                    $("#txtCR").val('');
                    if (result == "1") {
                        $.ajax({
                            cache: false,
                            type: "GET",
                            url: '@Url.Action("DeleteSkill")',
                            contentType: 'application/json',
                            dataType: "json",
                            data: { ID: id },
                            success: function (data) {
                                if (data.result) {
                                    showSuccessViewModal('Delete Skill', 'Skill successfully deleted', '', 'Success', '', function () {
                                        location.reload();
                                    });
                                }
                                else {
                                        showSuccessViewModal('Delete Skill', data.Html, '', 'Error', '', function () {
                                    });
                                }
                            }
                        });
                    }
                });
            });
        });
    </script>
}
